.footer_wrapper{
width: 100%;
background-color: #202020;
}

.footer{
width: 1280px;
height: 120px;
margin:auto;
display: flex;
align-items: center;
justify-content: space-evenly;

&_logo{
width: 236px;
height: 26px;
}

&_list{
width: 283px;
height: 15px;
display: flex;
align-items: center;
justify-content: space-between;

&_text{

font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;


&:hover{
color: aqua;
}
}
}

&_social_media{
width: 120px;
height: 24px;
display: flex;
align-items: center;
justify-content: space-between;

.facebook_icon{
width: 24px;
height: 24px;

&:hover{
fill: #83888F;
}
}

.twiteer_icon{
width: 24px;
height: 24px;

&:hover{
fill: #83888F;
}
}

.instagram_icon{
width: 24px;
height: 24px;

&:hover{
fill: #83888F;
}
}
}
}