.pick{
width: 1280px;
height: 653px;
margin: 100px auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color: #090f18;
border-radius: 16px;

&_img{
width: 766px;
margin-right: 270px;
}

&_info{
width: 1045px;
height: 357px;
display: flex;
align-items: center;
justify-content: space-between;

&_block{
width: 285px;
height: 357px;
display: flex;
flex-direction: column;
justify-content: space-between;

&_text1{

font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;

color: #FDD6BA;

}

&_text2{
width: 253px;

font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;

color: #333D4B;

}

&_text3{
width: 285px;
height: 130px

font-style normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #333D4B;

}
}
}
}